<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" >Home</a></li>
        <li class="nav-item"><a routerLink="/employee-list" class="nav-link" >Employees</a></li>
        <!-- <button routerLink="/login" class="btn btn-info">Add Employee</button> -->
      </ul>
    </div>
  </nav>






