<div class="card">
    <div class="card-header">
        <button class="btn btn-success btn-sm float-right">Add</button>
        <h4>Employee List</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Employee Name</th>
                    <th>Address</th>
                    <th>Birth Date</th>
                    <th>Gendor</th>
                    <th>Mobile</th>
                    <th>Profile Photo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees, let index = index">
                    <td>{{index + 1}}</td>
                    <td>{{employee['empName']}}</td>
                    <td>{{employee['address']}}</td>
                    <td>{{employee['birth_date']}}</td>
                    <td>{{employee['gendor']}}</td>
                    <td>{{employee['mobile']}}</td>
                    <td>{{employee['profilePhoto']}}</td>
                    <!-- <td>
                        <img class="product-img" src="http://localhost:3000/product/image/{{product['image']}}" alt="">
                    </td> -->
                  
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>